<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Image XPert by Enonic</title>
    <link rel="stylesheet" data-th-href="${portal.assetUrl({'_path=css/main.css'})}" type="text/css"/>
    <link rel="stylesheet" data-th-href="${portal.assetUrl({'_path=css/newalbum.css'})}" type="text/css"/>
    <script type="text/javascript" data-th-src="${portal.assetUrl({'_path=js/main.js'})}"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var renameAlbumServiceUrl = /*[[${renameAlbumServiceUrl}]]*/;
        var searchPageUrl = /*[[${searchPageUrl}]]*/;

        window.onload = initApp.bind(this, /*[[${albumId}]]*/);
        /*]]>*/
    </script>
</head>

<body data-portal-component-type="page" data-th-class="${editable}? 'edit'">
<div class="background-image" data-th-style="${backgroundImageStyle}"></div>
<div class="background-opacity"></div>
<img id="ixp-spinner" data-th-src="${spinnerUrl}" />
<input type="hidden" id="albumId" value="">
<div id="mainRegion" data-portal-region="main">
    <div data-th-if="${reqContent.page.regions['main']}" data-th-remove="tag">
        <div data-th-each="component : ${reqContent.page.regions['main'].components}" data-th-remove="tag">
            <div data-portal-component="${component.path}" data-th-remove="tag"></div>
        </div>
    </div>
</div>
</body>
</html>